<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="credit in billing_vm.billingCycle.credits">
                <td>
                    <input type="text" ng-model="credit.name" class="form-control" placeholder="Informe o Nome"
                        ng-readonly="billing_vm.tabDelete" />
                </td>
                <td>
                    <input type="number" ng-model="credit.value" class="form-control" placeholder="Informe o Valor"
                        ng-readonly="billing_vm.tabDelete" ng-change="billing_vm.calculateValues()"/>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="billing_vm.tabDelete" ng-click="billing_vm.addCredito($index)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning" ng-disabled="billing_vm.tabDelete" ng-click="billing_vm.copyCredito($index, credit)">
                        <i class="fa fa-clone"></i>
                    </button>
                    <button class="btn btn-danger" ng-disabled="billing_vm.tabDelete" ng-click="billing_vm.removeCredito($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
            </tr>
        </tbody>
    </table>
</div>