<div role="form">
  <div class="box-body">
    <fields model="billing_vm.billingCycle.name" id="name" label="Nome" grid="12 6 4" type="text"
      placeholder="Informe o Nome" readonly="billing_vm.tabDelete"></fields>
    <fields model="billing_vm.billingCycle.month" id="month" label="Mês" grid="12 6 4" type="number"
      placeholder="Informe o Mês" readonly="billing_vm.tabDelete"></fields>
    <fields model="billing_vm.billingCycle.year" id="year" label="Ano" grid="12 6 4" type="number"
      placeholder="Informe o Ano" readonly="billing_vm.tabDelete"></fields>

    <hr>
    <div class="col-xs-12">
      <fieldset>
        <legend>Resumo</legend>
        <div ng-include="'billingCycles/summary.html'"></div>
      </fieldset>
    </div>
    <hr>

    <div class="col-xs-12 col-lg-6">
      <fildset>
        <legend>Créditos</legend>
        <div ng-include="'billingCycles/creditList.html'"></div>
      </fildset>
    </div>
    <div class="col-xs-12 col-lg-6">
      <fildset>
        <legend>Débitos</legend>
        <div ng-include="'billingCycles/debtList.html'"></div>
      </fildset>
    </div>

  </div>
  <div class="box-footer">
    <button class="btn btn-primary" ng-click="billing_vm.insert()" ng-if="billing_vm.tabCreate">
      Incluir
    </button>
    <button class="btn btn-info" ng-if="billing_vm.tabUpdate" ng-click="billing_vm.update()">
      Alterar
    </button>
    <button class="btn btn-danger" ng-click="billing_vm.deleteRegister()" ng-if="billing_vm.tabDelete">
      Excluir
    </button>
    <button class="btn btn-default" ng-click="billing_vm.refresh()">
      Cancelar
    </button>
  </div>
</div>